---
import Layout from "../layouts/Layout.astro"
import AboutFunder from "../components/AboutFunder.astro"
---

<Layout>
    <h1 class="text-center text-2xl">Los fundadores:</h1>
    <ul class="flex flex-col gap-8 py-8">
        <AboutFunder funder="joan"/>
        <AboutFunder funder="aaron"/>
        <AboutFunder funder="andrea"/>
    </ul>
</Layout>