---
import Layout from "../layouts/Layout.astro"
import AboutFunder from "../components/AboutFunder.astro"
---

<Layout>
    <h1 class="text-center text-2xl">Los fundadores:</h1>
    <ul>
        <AboutFunder />
    </ul>
</Layout>