---
import Layout from '../layouts/Layout.astro';
import ImageContainer from '../components/ImageContainer.astro';
import WhatWeOffer from '../components/WhatWeOffer.astro';
---

<Layout title="Zenbyte, bienvenido a tu futuro">
	<main class="flex flex-col gap-14">
		<section class="flex flex-col md:grid md:grid-cols-2 md:items-center gap-4">
			<h1 class="font-semibold text-2xl md: col-span-2">
				Nuestro Bootcamp: <strong>Tu Futuro</strong>
			</h1>
			<ImageContainer src="/public/instagram_content/principal-publish.webp" alt="Esta imagen no carga"/>

			<div class="flex flex-col pt-8 gap-5">
			
				<h2 class="text-start">En <strong>Zenbyte</strong> tomamos en cuenta tu salud y tus conocimientos para llevarlos al máximo</h2>
				
				<a href="/pricing"
				class="
				self-center
				text-center font-medium py-2 px-4 rounded-xl
				bg-green-500 w-40 transition-all
				hover:scale-110 hover:saturate-150"
				>¡Sí quiero!
				</a>
			</div>
		</section>
		<section>
			<h3 class="text-2xl font-semibold mb-4 md:col-span-2">Conócenos un poco más</h3>
			<div class="md:flex md:items-center md:gap-10">
				<div class="md:max-w-[45ch]">
					<p>
						¡Hola! Somos <strong>Zenbyte</strong>: el bootcamp que te va a llevar al <strong>futuro</strong>.
					</p>

					<p>
						Si estás buscando algo más alla que una simple formación de 2 meses para encontrar un trabajo 
						que no es ni lo que esperabas ni lo que te apasiona, <strong>te invitamos a formar parte de nuestro alumnado.</strong>
					</p>
				</div>
				<ImageContainer src="/public/instagram_content/zen-coder.webp" alt="Esta imagen no carga"/>
			</div>
			</section>

		<section>
			<h3 class="text-2xl font-semibold mb-4">¿Qué <span class="text-green-400">ofrecemos?</span></h3>
			<!-- <p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates architecto provident nemo. Ratione optio inventore repellat dolorem est eos laborum et nobis. Nisi ut aliquam autem iure dicta voluptates voluptas dignissimos ducimus ipsa repellendus natus distinctio architecto provident minima recusandae, et culpa possimus quaerat earum placeat commodi? Totam nihil ut sapiente fugiat expedita tenetur magni sunt vero odit, eaque possimus?
			</p> -->

			<WhatWeOffer />

		</section>
	</main>
</Layout>

<style is:global>

	h1,h2,h3,h4,h5,h6 {
		@apply text-center text-pretty;
	}
	
	.icon {
		@apply aspect-square;
		width: 1em;
	}

	strong {
		@apply text-green-500;
	}
	p {
		@apply mb-3 text-pretty;

	}

</style>