---
interface Department {
    departmentName: string;
    workers: string;
    description: string;
    tasks: string[];
}

const {department} = Astro.props
const departments : Department = await import(`../data/departments/${department}.json`)
---

<h1>{departments.departmentName}</h1>
<h1>{departments.departmentName}</h1>
<h2>Adios mundo</h2>

<h2>Hola mundo</h2>