---
import ImageContainer from "./ImageContainer.astro"
const {img,title,description} = Astro.props
---

<li>
    <h4 class="text-orange-300 font-medium mb-4">{title}</h4>

    <div class="md:flex md:items-center md:justify-around">
        <p class="md:max-w-[50ch]">
            {description}
            <slot />
        </p>

        <ImageContainer src={img} alt="Esta imagen no carga" />
    </div>
</li>