---
import NavItem from "./NavItem.astro"

const items = [
    {icon: "mdi:home", href: "/", text: "Inicio"},
    {icon: "mdi:people-group", href: "/about", text: "Sobre nosotros"},
    {icon: "mdi:workflow", href: "/departments", text: "Departamentos"},
    {icon: "mdi:dollar", href: "/pricing", text: "Tarifas"}
]
---

<nav
id="page-navigation"
class={`
z-50
hidden flex-col py-4 h-full
fixed top-20 right-0 bg-stone-800/70 backdrop-blur-sm
font-extralight
`
}>
    <ul class="flex flex-col overflow-y-auto gap-8">
        {
            items.map(item => (
                <NavItem icon={item.icon} href={item.href} text={item.text} />
            ))
        }
    </ul>
</nav>

<style>
    nav {
        max-height: calc(100dvh - 80px);
    }

    .show {
        @apply flex;
    }

    @media (width > 48rem) {
        nav {
            right: calc((100% - 48rem) / 2);
        }
    }
</style>