---
import { Icon } from "astro-icon/components";

const {href, icon, text} = Astro.props
---

<li>
    <a href={href} class="flex items-center gap-6">
        <Icon name={icon} />
        {text}
    </a>
</li>