---
import { Icon } from "astro-icon/components";

const {size, nameIcon,color,href} = Astro.props
---
<a
class=`${color} hover:text-orange-200 hover:scale-105`
href="https://example.com"
target="_blank">
<Icon style={`font-size: ${size}`} name={nameIcon} />
<slot />
</a>