---
import DescriptionItem from "./DescriptionItem.astro"
---

<ul class="flex flex-col gap-14 pb-4">
    <DescriptionItem featureSection="location" />
    
    <DescriptionItem featureSection="duration" >
        <a href="/pricing">Conoce nuestras tarifas</a>
    </DescriptionItem>

    <DescriptionItem featureSection="programming" />

    <DescriptionItem featureSection="sports" />
</ul>