---
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"

const {title} = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/zenbyte-favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="
	max-w-screen-md mx-auto overflow-x-hidden
	bg-stone-800
	">
		<Header />
		<Navigation />
		<div id="app">
			<slot />
		</div>
	</body>
</html>

<style is:global>

	* {
		box-sizing: border-box;
	}

	html {
		color-scheme: dark;
	}

	#app {
		@apply max-w-screen-md mx-auto px-6;
	}

	h1,h2,h3,h4,h5,h6 {
		@apply text-center;
	}

	h1,h2,h3,h4,h5,h6,p,li,a,strong,em {
		@apply text-pretty;
	}
	
	.icon {
		@apply aspect-square;
		width: 1em;
	}

	strong {
		@apply text-green-500;
	}
	p {
		@apply mb-3;
	}
</style>